<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:brewer="http://brewer.algaworks.com"
	layout:decorate="~{layout/LayoutPadrao}">
<head>
  <meta charset="UTF-8"/>
<title>Pesquisa de clientes</title>
</head>
<body>
	<section layout:fragment="conteudo">
		<form method="get" th:object="${clienteFilter}">
			<div class="page-header">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-8">
							<h1>Pesquisa de clientes</h1>
						</div>
						
						<div class="col-sm-4">
							<div class="aw-page-header-controls">
								<a class="btn  btn-default" th:href="@{/clientes/novo}">
									<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo cliente</span>
								</a>
								
								<div class="bw-divider-vertical"></div>
								<button class="btn btn-primary hidden-xs  hidden-sm">
									<i class="glyphicon  glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisar</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- ./page-header -->
			
			<div class="container-fluid">
				
				<div class="row">
					<div class="form-group col-sm-8">
						<label for="nome" class="control-label">Nome</label>
						<input type="text" class="form-control" id="nome" th:field="*{nome}" />
					</div>
					<div class="form-group col-sm-4">
						<label for="cpfOuCnpj" class="control-label">CPF/CNPJ</label>
						<input type="text" class="form-control" id="cpfOuCnpj" th:field="*{cpfOuCnpj}"/>
					</div>
				</div>
				
				<div class="table-responsive bw-tabela-simples">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="table-clientes-col-nome">
									<brewer:order pagina="${pagina}" propriedade="nome" texto="Nome"/>
									
								</th>
								<th>E-mail</th>
								<th class="table-clientes-col-tipo-pessoa">
									<brewer:order pagina="${pagina}" propriedade="tipo" texto="Tipo Pessoa"/>
								</th>
								<th class="table-clientes-col-cpf-cnpj">CPF/CNPJ</th>
								<th class="table-clientes-col-telefone">Telefone</th>
								<th class="table-clientes-col-estado-cidade">Cidade/Estado</th>
								<th class="table-col-acoes"></th>
							</tr>
						</thead>
						
						<tbody>
							<tr th:each="cliente : ${pagina.conteudo}">
								<td th:text="${cliente.nome}"></td>
								<td th:text="${cliente.email}"></td>
								<td class="text-center" th:text="${cliente.tipo.descricao}"></td>
								<td class="text-right" th:text="${cliente.cpfOuCnpj}"></td>
								<td class="text-right" th:text="${cliente.telefone}"></td>
								<td class="text-right" th:text="${cliente.cidadeSiglaEstado}"></td>
								<td class="text-center">
									<a class="btn btn-link btn-xs" title="Editar">
										<i class="glyphicon glyphicon-pencil"></i>
									</a>
									
									<a class="btn btn-link btn-xs" title="Remover">
										<i class="glyphicon glyphicon-remove"></i>
									</a>
								</td>
							</tr>
							
							<tr th:if="${pagina.vazia}">
								<td colspan="6">Nenhum cliente cadastrado!</td>
							</tr>
						</tbody>
					</table>
					
					<brewer:pagination page="${pagina}" />
				</div>
				
			</div>
		</form>
	</section>
</body>
</html>