<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<div class="alert alert-danger  alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}"
	th:fragment="message">
	<button type="button" class="close" data-dismiss="alert"
		aria-label="Close">
		<i style="margin-right: 10px" aria-hidden="true">&times;</i>
	</button>
	<th:block th:each="detailedError : ${#fields.detailedErrors()}">
		<div class="message">
			<i class="fa  fa-exclamation-circle icon"></i>[[${detailedError.message}]]
		</div>
	</th:block>
</div>

</html>