<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:brewer="http://brewer.algaworks.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorate="~{layout/LayoutPadrao}">
<head>


<style>
.icon {
	margin-right: 10px;
}

.message {
	margin-bottom: 5px;
}

.js-select2 {
	line-height: 1.5
}
</style>
<title>Pesquisa de usuários</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<form method="get" th:object="${usuarioFilter}">
			<div class="page-header">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-9">
							<h1>Pesquisa de usuários</h1>
						</div>

						<div class="col-xs-3">
							<div class="aw-page-header-controls">
								<a class="btn  btn-default" th:href="@{/usuarios/novo}"> <i
									class="glyphicon  glyphicon-plus-sign"></i> <span
									class="hidden-xs  hidden-sm">Novo Usuário</span>
								</a>

								<div class="bw-divider-vertical"></div>
								<button class="btn btn-primary hidden-xs  hidden-sm">
									<i class="glyphicon  glyphicon-search"></i> <span
										class="hidden-xs  hidden-sm">Pesquisar</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ./page-header -->
			
			<div class="container-fluid">
				<div class="row">
					<div class="form-group col-sm-6">
						<label for="nome" class="control-label">Nome</label>
						<input autofocus="autofocus" type="text" id="nome" class="form-control" th:field="*{nome}"/>
					</div>
					
					<div class="form-group col-sm-6">
						<label for="email" class="control-label">E-mail</label>
						<input type="text" id="email" class="form-control" th:field="*{email}" />
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-sm-12">
						<label class="control-label" for="grupos">Grupos</label>
						<div>
							<th:block th:each="grupo : ${grupos}">
								<div class="checkbox checkbox-inline">
									<input type="checkbox" th:value="${grupo.codigo}" th:field="*{grupos}"/>
									<label th:text="${grupo.nome}" th:for="${#ids.prev('grupos')}">Administrador</label>
								</div>
							</th:block>
						</div>
					</div>
				</div>				
				
				<div class="aw-datable-toolbar">
					<button type="button" class="btn btn-default btn-xs js-status-btn disabled" data:status="ATIVAR"
						data:url="@{/usuarios/status}">
						<span>Ativar</span>
					</button>
					
					<button type="button" class="btn btn-default btn-xs js-status-btn disabled" data:status="DESATIVAR"
						data:url="@{/usuarios/status}">
						<span>Desativar</span>
					</button>
				</div>
				
				<div class="table-responsive  bw-tabela-simples">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="table-col-usuario-selecao">
									<div class="checkbox aw-checkbox-no-margin">
										<input type="checkbox" class="js-selecao-todos"/>
										<label></label>
									</div>
								</th>
								<th>Nome</th>
								<th>E-mail</th>
								<th>Grupos</th>
								<th>Status</th>
								<th class="table-col-codigo"></th>
							</tr>
						</thead>
						
						<tbody>
							<tr th:each="usuario : ${pagina.conteudo}">
								<td>
									<div class="checkbox aw-checkbox-no-margin"
										th:if="${#authentication.principal.usuario.codigo != usuario.codigo}">
										<input type="checkbox" class="js-selecao" data:codigo="${usuario.codigo}"/>
										<label></label>
									</div>
								</td>
								<td th:text="${usuario.nome}"></td>
								<td th:text="${usuario.email}"></td>
								<td>
									<span th:each="grupo : ${usuario.grupos}" th:text="|${grupo.nome}${grupoStat.last ? '' : ', '}|"></span>
								</td>
								<td>
									<span class="label" th:text="${usuario.ativo} ? 'Ativo' : 'Inativo'"
										th:classappend="${usuario.ativo} ? 'label-success' : 'label-danger'"></span>
								</td>
								<td class="text-right">
									<a class="btn btn-link btn-xs" title="Editar">
										<i class="glyphicon glyphicon-pencil"></i>
									</a>
									
									<a class="btn btn-link btn-xs" title="Remover">
										<i class="glyphicon glyphicon-remove"></i>
									</a>
								</td>
							</tr>
							
							<tr>
								<td colspan="6" th:if="${pagina.vazia}">Nenhum usuário encontrado</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<brewer:pagination page="${pagina}" />				
			</div>
		</form>
		
	</section>
		<th:block layout:fragment="javascript-extra">
			<script th:src="@{/javascript/multiselecao.js}"></script>
		</th:block>
</body>
</html>